.moneyinformation {
    text-align: center;
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.version {
    text-align: left;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

.money {
    font-size: 32px
}

.pagebutton {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e5e5e5;
    transition: all .2s ease-in-out;
    border-radius: 7.5px;
    border: 1px solid #c3c3c3bb;
    margin: 0px 10px 20px 10px;
    padding: 5px 7.5px 5px 7.5px;    
}

.pagebutton:hover {
    background-color: #dcdcdc;
}  

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#shopContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#upgradeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#autobuyerButtonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shopButton {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #dcdcdc;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    margin: 10px auto;
    width: calc(50% - 10px);
}

.sbbuyable {
    border: 1px solid #00ff0dbb;
}
.sbbuyable:hover {
    background-color: #94cd74;
}
.sbnotbuyable {
    border: 1px solid #ff0000bb;
    background-color: #adadad;
}

.shopButton #nameAndCost p {
    font-size: 12px;
    margin: 2.5px;
    width: 50%;
    margin-left: 20px
}
.shopButton #nameAndCost p:first-of-type {
    font-size: 16px;
}
.shopButton #amount {
    font-size: 14px;
    color: #595959;
    width: 35%;
}
.am {
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
}
.untilten {
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    margin-right: 20px;
    font-size: 12px;
}

.upgradeButton {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #dcdcdc;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    width: calc(50% - 10px);
    margin: 10px auto;  
}
.upbuyable {
    border: 1px solid #00ff0dbb;
}
.upbuyable:hover {
    background-color: #94cd74;
}
.upnotbuyable {
    border: 1px solid #ff0000bb;
    background-color: #adadad;
}

.upgradeButton #nameCostAndDescription p {
    margin: 2.5px;
    width: 75%;
    margin-left: 20px
}
.upgradeButton #nameCostAndDescription p:first-of-type {
    font-size: 24px;
}
.upgradeButton #amount {
    font-size: 32px;
    color: #595959;
    width: 25%;
    margin: 10px 0px 10px 10px;
}

.autobuyerButton {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    width: calc(33% - 10px);
    margin: 10px auto;  
}
.buyAutobuyer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all .2s ease-in-out;
    border-radius: 7.5px;
    width: 65%;
    margin: 10px auto;  
}
.on {
   background-color: #dcdcdc; 
}
.off {
    background-color: #ababab;
}
.toggle1 {
    border: 1px solid #00ff0dbb;
}
.toggle1:hover {
    background-color: #94cd74;
}
.toggle0 {
    border: 1px solid #ff0000bb;
    background-color: #adadad;
}

.autobuyerButton #nameSpeedAndBulk p {
    margin: 2.5px;
    width: 65%;
    margin-left: 20px
}
.autobuyerButton #nameSpeedAndBulk p:first-of-type {
    font-size: 24px;
}

.unselectable {
    user-select: none;
}